WcfService1/ClientApp/Connected Services/ServiceReference1/AssignmentService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tns="http://tempuri.org/" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" name="AssignmentService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52400/Service1.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52400/Service1.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:52400/Service1.svc?xsd=xsd2" namespace="http://schemas.microsoft.com/2003/10/Serialization/Arrays" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IAssignmentService_IsPrimeNumber_InputMessage">
    <wsdl:part name="parameters" element="tns:IsPrimeNumber" />
  </wsdl:message>
  <wsdl:message name="IAssignmentService_IsPrimeNumber_OutputMessage">
    <wsdl:part name="parameters" element="tns:IsPrimeNumberResponse" />
  </wsdl:message>
  <wsdl:message name="IAssignmentService_SumOfDigits_InputMessage">
    <wsdl:part name="parameters" element="tns:SumOfDigits" />
  </wsdl:message>
  <wsdl:message name="IAssignmentService_SumOfDigits_OutputMessage">
    <wsdl:part name="parameters" element="tns:SumOfDigitsResponse" />
  </wsdl:message>
  <wsdl:message name="IAssignmentService_ReverseString_InputMessage">
    <wsdl:part name="parameters" element="tns:ReverseString" />
  </wsdl:message>
  <wsdl:message name="IAssignmentService_ReverseString_OutputMessage">
    <wsdl:part name="parameters" element="tns:ReverseStringResponse" />
  </wsdl:message>
  <wsdl:message name="IAssignmentService_AddHtmlTag_InputMessage">
    <wsdl:part name="parameters" element="tns:AddHtmlTag" />
  </wsdl:message>
  <wsdl:message name="IAssignmentService_AddHtmlTag_OutputMessage">
    <wsdl:part name="parameters" element="tns:AddHtmlTagResponse" />
  </wsdl:message>
  <wsdl:message name="IAssignmentService_SortNumbers_InputMessage">
    <wsdl:part name="parameters" element="tns:SortNumbers" />
  </wsdl:message>
  <wsdl:message name="IAssignmentService_SortNumbers_OutputMessage">
    <wsdl:part name="parameters" element="tns:SortNumbersResponse" />
  </wsdl:message>
  <wsdl:portType name="IAssignmentService">
    <wsdl:operation name="IsPrimeNumber">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssignmentService/IsPrimeNumber" message="tns:IAssignmentService_IsPrimeNumber_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssignmentService/IsPrimeNumberResponse" message="tns:IAssignmentService_IsPrimeNumber_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SumOfDigits">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssignmentService/SumOfDigits" message="tns:IAssignmentService_SumOfDigits_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssignmentService/SumOfDigitsResponse" message="tns:IAssignmentService_SumOfDigits_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ReverseString">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssignmentService/ReverseString" message="tns:IAssignmentService_ReverseString_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssignmentService/ReverseStringResponse" message="tns:IAssignmentService_ReverseString_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="AddHtmlTag">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssignmentService/AddHtmlTag" message="tns:IAssignmentService_AddHtmlTag_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssignmentService/AddHtmlTagResponse" message="tns:IAssignmentService_AddHtmlTag_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="SortNumbers">
      <wsdl:input wsaw:Action="http://tempuri.org/IAssignmentService/SortNumbers" message="tns:IAssignmentService_SortNumbers_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IAssignmentService/SortNumbersResponse" message="tns:IAssignmentService_SortNumbers_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAssignmentService" type="tns:IAssignmentService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="IsPrimeNumber">
      <soap:operation soapAction="http://tempuri.org/IAssignmentService/IsPrimeNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SumOfDigits">
      <soap:operation soapAction="http://tempuri.org/IAssignmentService/SumOfDigits" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ReverseString">
      <soap:operation soapAction="http://tempuri.org/IAssignmentService/ReverseString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddHtmlTag">
      <soap:operation soapAction="http://tempuri.org/IAssignmentService/AddHtmlTag" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SortNumbers">
      <soap:operation soapAction="http://tempuri.org/IAssignmentService/SortNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AssignmentService">
    <wsdl:port name="BasicHttpBinding_IAssignmentService" binding="tns:BasicHttpBinding_IAssignmentService">
      <soap:address location="http://localhost:52400/Service1.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>